{
	"extends": [
		"wesbos",
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"rules": {
		"global-require": 0,
		"import/no-named-as-default": 0,
		"import/no-named-as-default-member": 0,
		"no-console": 2,
		"prettier/prettier": [
			"error",
			{
				"semi": false,
				"singleQuote": true,
				"trailingComma": "es5"
			}
		],
		"react/prop-types": 0,
		"react/display-name": 0
	}
}
