/* Site Layout
------------------------------------------------------------------------------*/

@layer base {
  .site {
    &:before {
      content: '';
      float: left;
      padding-top: 56.25%;
    }

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}
