:root {
  --color-primary-50:  #ffffff;
  --color-primary-100: #fafdf9;
  --color-primary-200: #DBEECD;
  --color-primary-300: #BCDFA1;
  --color-primary-400: #9CD075;
  --color-primary-500: #7dc149;
  --color-primary-600: #49A24C;
  --color-primary-700: #15824e;
  --color-primary-800: #175C35;
  --color-primary-900: #18351c;
}
