@layer components {
  .bio-tagline {
    @apply inline-flex flex-col;
    text-shadow: none;
    counter-reset: list-number;

    a {
      @apply flex items-center bg-transparent leading-none p-1.5 pr-3 rounded transition relative bg-black bg-opacity-0 hover:bg-opacity-10;

      &:hover:before {
        /* @apply text-primary; */
      }
    }

    a:before {
      counter-increment: list-number;
      content: counter(list-number);

      @apply inline-flex items-center text-primary-500 bg-primary-900 justify-center text-xs mr-3 h-6 w-7 leading-none transform -skew-y-6 font-semibold;
    }
  }
}
