
/**
 * Entry
 */

@screen lg {
	.entry {
		display: grid;
		grid-area: entry;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1.1fr 1.1fr 0.8fr;
		grid-template-areas:
			'entry__header entry__header entry__body entry__body'
			'entry__header entry__header entry__body entry__body'
			'entry__nav		entry__nav		entry__body entry__body';
	}
}

/**
 * Entry Header
 */

.entry-header {
	text-shadow: -3px -3px 10px #7dc149,
		3px -3px 15px #7dc149,
		-3px 3px 10px #7dc149,
		3px 3px 15px #7dc149;
}

@screen lg {
	.entry-header {
		grid-area: entry__header;
	}
}

.entry-excerpt a:not(.button) {
		/* @apply border-b-2 no-underline text-inherit hover:text-white;
		border-color: currentColor; */
}

/**
 * Entry Nav
 */

@screen lg {
	.entry-nav {
		grid-area: entry__nav;
	}
}

/**
 * Entry Body
 */

@screen xs {
	.entry-body	{
		display: grid;
		grid-area: entry__body;
		grid-template-columns: 1.4fr 0.6fr;
		grid-template-rows: 1.2fr 0.8fr;
		grid-template-areas:
			'entry__content entry__media'
			'entry__content entry__media';
	}
}

@screen lg {
	.entry-body {
		display: grid;
		grid-area: entry__body;
		grid-template-columns: 1.4fr 0.6fr;
		grid-template-rows: 1.2fr 0.8fr;
		grid-template-areas:
			'entry__media entry__media'
			'entry__media entry__media';
	}
}

.entry-content {
	a {
		color: inherit;
    border-bottom-width: 2px;
    text-decoration: none;
		@apply border-primary-500;
	}
}

@screen xs {
	.entry-content {
		grid-area: entry__content;
	}
}

@screen lg {
	.entry-content {
		grid-area: 2 / 1 / 3 / 3;
	}
}

@screen xl {
	.entry-content {
		grid-area: 2 / 1 / 3 / 2;
	}
}

@screen xs {
	.entry-media {
		grid-area: entry__media;
	}
}

@screen lg {
	.entry-media {
		grid-area: entry__media;
	}
}

.entry-img {
	/* background-size: 30%; */
	/* background-position-x: 6%; */
	/* filter: grayscale(100%); */
}

@screen xs {
	.entry-img {
		object-fit: cover;
	}
}
